
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} 


nav {
    background-color: #333; 
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content:center;

}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none; /* Remove underline */
    color: white; /* White text */
    font-size: 18px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

/* Change background color on hover */
nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Add some padding to the sections so they're not hidden under the fixed navbar */
section {
    padding: 60px 20px;
}